.fondoBarra{
    background-color: rgb(77, 32, 32) !important;
}
h1{text-align: center;}
.imagenprincipal{text-align: center;}
h3{text-align: center;}
.imagensecundaria{text-align: center;}
.mb-3{background-color: rgb(161, 40, 66);text-align: center;}
.video1{text-align: center;}
body{background-color: rgb(86, 177, 172);}