body{text-align: center;}
h2{color: rgb(36, 46, 45); text-align: center;}
h1{text-align: center; color: rgb(238, 232, 231);}

.video2{text-align: center;}
body{background-color: rgb(69, 119, 119);}
.fondoBarra{
    background-color: rgb(73, 38, 43) !important;
}